.title {
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    color: black;
    margin-bottom: auto;
    margin-left: auto;
    animation: typing 3.5s steps(20, end);
  }

  @keyframes typing {
    from {width: 50%}
    to {width: 100%}
  }
